<%- include('sub_header.html') %>

        <div id="container">
            <div class="main_img">
                <div class="title"><%= subtitle %>
                    <div><a href="#">아태평화교류협회</a> / <a href="#"><%= subtitle %></a></div>
                </div>
                <div><a href="#"><img src="/images/p1.png" alt="" /></a></div>
            </div>

            <div id="section">
                <div class="section-block block">
                <%
                    for(var i=0; i<results.length; i++){
                        var item = results[i];
                        if(i%3 == 0){
                            %><div><%
                        }%>
                        <div class="section_list">
                            <a href="#"><img src=<%= '/'+item.thumb_img %> alt="" /></a>
                            <div class="section_color">
                                <a href="#">
                                    <h3><%= item.title %></h3>
                                    <div class="section_date">July 10, 2014</div>
                                </a>
                            </div>
                            <p><%
                                var tagedText = item.content;
                                var nonTagedText = tagedText.replace(/(<([^>]+)>)/ig,"");
                                var descText;
                                if(nonTagedText.length > 53){
                                    descText = nonTagedText.substr(0, 52)+'...';
                                }else{
                                    descText = nonTagedText;
                                }
                             %><%= descText %></p>
                            <div class="btn_section"><a href="#">Read More</a></div>
                        </div>
                        <%
                        if(i%3 == 2){
                            %></div><%
                        }
                    }
                %>
                    <div class="page">
                    <%
                        for(var i=1; i<=page_count; i++){
                            if(now_page == i){
                                %><a href=<%= i %> class="choose"><%= i %></a><%
                            }else{
                               %><a href=<%= i %> ><%= i %></a><%
                            }
                        }
                    %>
                    </div>
                </div>
            </div>
        </div>

<%- include('footer.html') %>
